html {
    background: url("./images/bg-desktop.svg") no-repeat;
    background-color: hsl(257, 40%, 49%);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    flex: flex-start;
}

.header img {
    height: 50px;
    margin: 30px;
}

.hero {
    display: flex;
    margin: 30px;
}

.hero .title {
    margin: 50px;
}

.hero .title h1 {
    font-size: 4.5rem;
    color: #fff;
}

.hero .title p {
    padding: 15px 0;
    font-size: 2rem;
    color: #fff;
}

.hero .title a {
    margin-top: 100px;
}

.hero .title .botao {
    padding: 10px 85px;
    font-size: 2rem;
    color: hsl(257, 40%, 49%);
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    ;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.social a {
    font-size: 2.4rem;
    margin: 10px;
    justify-content: space-between;
    color: #fff;
    border: solid 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
}

.attribution {
    display: flex;
    justify-content: center;
}

@media (max-width: 426px) {
    html {
        background: url("./images/bg-mobile.svg") no-repeat;
        background-color: hsl(257, 40%, 49%);
    }
    .header {
        margin: 5px;
    }
    .header img {
        height: 25%;
    }
    .hero {
        display: block;
        justify-content: center;
    }
    .hero .title {
        margin: 5px;
        margin-top: 50px;
        display: inline-block;
    }
    .hero .title h1 {
        font-size: 2.4rem;
        color: #fff;
        text-align: center;
    }
    .hero .title p {
        font-size: 1.6rem;
        color: #fff;
        text-align: center;
    }
    .title a {
        display: block;
        text-align: center;
    }
    .hero .title .botao {
        padding: 10px 4px;
        margin-top: 10px;
        font-size: 1.4rem;
        color: hsl(257, 40%, 49%);
        background: #fff;
        border-radius: 25px;
        box-shadow: 0 0 10px black;
    }
    .footer {
        display: block;
        justify-content: center;
    }
    .social {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .social a {
        font-size: 1.5rem;
        margin: 5px;
        margin-left: 50px 0;
        border: solid 1px;
        width: 25px;
        height: 25px;
    }
    .attribution {
        margin-top: 50px;
    }
}